/* ParentDetails.css file */

.parent-top {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #e0ddff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  color: #1d9e75;
}