/* PersonalDetails.css file */

.details-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.details-grid p {
  font-size: 12px;
  color: gray;
}

.details-grid h4 {
  margin: 3px 0;
}

hr {
  margin: 15px 0;
}