* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f8f8ff;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 14px;
  border: 1px solid #e8e6f8;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-3px);
}

/* COLORS */
.card.purple {
  border-left: 5px solid #7f77dd;
}

.card.green {
  border-left: 5px solid #1d9e75;
}

.card.yellow {
  border-left: 5px solid #ef9f27;
}

.card.red {
  border-left: 5px solid #e24b4a;
}

.card p {
  font-size: 12px;
  color: gray;
}

.card h2 {
  margin-top: 10px;
}