.studentProfileLayout {
  display: flex;
  min-height: 100vh;
}

.main {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  background: #f8f7ff;
  overflow-y: auto;
}

.content {
  padding: 20px;
}

/* GRID */
.profileGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-top: 20px;
}

.profileBottomGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-top: 20px;
}


/* responsive */
@media (max-width: 1024px) {
  .profileBottomGrid {
    grid-template-columns: 1fr;
  }
}


/* MOBILE */
@media (max-width: 768px) {
  .studentProfileLayout {
    min-height: 100vh;
  }

  .content {
    padding: 15px;
  }

  .profileGrid {
    grid-template-columns: 1fr;
  }

  .profileBottomGrid {
    grid-template-columns: 1fr;
  }
}

