/* QuickActions.css file */

.quick-card h3 {
  margin-bottom: 15px;
}

.quick-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.quick-item {
  padding: 15px;
  border-radius: 14px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
}

.quick-item:hover {
  transform: translateY(-3px);
}

/* COLORS */
.quick-item.purple {
  background: #ecebff;
  color: #534ab7;
}

.quick-item.green {
  background: #e4f7ef;
  color: #1d9e75;
}

.quick-item.yellow {
  background: #fff4e1;
  color: #f4a62a;
}

.quick-item.red {
  background: #fdeaea;
  color: #e14c4c;
}

.quick-item p {
  margin-top: 8px;
  font-size: 13px;
}

