/* RecentActivity.css */

.activity-card .card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.activity-item {
  display: flex;
  gap: 10px;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}



/* ICON BOX (square) */
.icon-box {
  width: 32px;
  height: 32px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* INNER DOT */
.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

/* COLOR SYSTEM */
/* GREEN */
.icon-box.green {
  background: #e6fbf3;
}
.icon-box.green .dot {
  background: #1d9e75;
}
/* BLUE */
.icon-box.blue {
  background: #eeedfe;
}
.icon-box.blue .dot {
  background: #534ab7;
}
/* ORANGE */
.icon-box.orange {
  background: #fff3e0;
}
.icon-box.orange .dot {
  background: #f4a62a;
}
/* RED */
.icon-box.red {
  background: #ffecec;
}
.icon-box.red .dot {
  background: #e14c4c;
}


.green { background: #1d9e75; }
.blue { background: #534ab7; }
.orange { background: #f4a62a; }
.red { background: #e14c4c; }

.activity-item p {
  font-size: 13px;
}

.activity-item span {
  font-size: 11px;
  color: gray;
}